{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomArticle</th>
                <th>PoidsArticle</th>
                <th>PrixArticle</th>
                <th>CatArticle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.poidsArticle }}</td>
                <td>{{ article.prixArticle }}</td>
                <td>{{ article.catArticle }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Créer un nouveau</a>
{% endblock %}